<div class="section gray fp-auto-height" id="section5">
    <div class="image-ico">

    </div>
    <div class="container">
        <h2 class="pb-lg-4">ПРОДВИЖЕНИЕ ICO ПРОЕКТОВ</h2>
        <p class="large-l-p">Комплексные услуги для блокчейн проектов на стадии краудфандинга				</p>
        <ul class="ico-list">
            <li>
                <p><span>Переводим на китайский</span>  –  переводим лендинги, проспекты, wp, op и другие ключевые документы
                </p>
            </li>
            <li>
                <p><span>Готовим инфраструктуру</span> –  регистрируем и продвигаем в WeChat, WeiBo и KakaoTalk.</p>
            </li>
            <li>
                <p><span>Комьюнити-менеджмент</span> –  ведём ветки на тематических форумах и блогах, постим в социальных сетях.</p>
            </li>
            <li>
                <p><span>Привлекаем KOL's</span> –  ревью от лидеров мнений, публикации от авторитетных блогеров.</p>
            </li>
            <li>
                <p><span>Медиа и СМИ</span>  –  публикации на крупнейших тематических ресурсах, пресс-релизы и PR рассылки</p>
            </li>
            <li>
                <p><span>Поддержка</span>  –  обрабатываем входящие запросы и комментарии пользователей </p>
            </li>
        </ul>
        <a href="" class="see-more-ico">Узнать больше</a>
    </div>
</div>