<div class="company-scratch section fp-auto-height" id="company-scratch">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <p class="capabilities-text">Услуги полного цикла в области интернет-маркетинга. Генерируем идеи и предлагаем фулстек решения, адаптируем и продвигаем Ваш бренд в Поднебесной.</p>
            </div>
            <div class="col-lg-12">
                <h2 class="company-scratch-title">Мы создаем рекламные кампании. С нуля.</h2>
            </div>
            <div class="col-lg-9">
                <p class="company-scratch-text-info">Вовлеченность в продукт и полное погружение в задачу - базовые принципы, руководствуясь которыми, мы достигаем желаемого результата. Увеличиваем медийные показатели через сегментированные каналы коммуникации - интегрированные и нестандартные. Мы создаем уникальный и интересный контент не навязывая продукт, а наоборот, вовлекая в него целевую аудиторию, чтобы люди о нем разговаривали.</p>
            </div>
            <div class="row content-promotion-options">
                <div class="col-lg-6 col-12 content-promotion-options__column">
                    <div class="content-promotion-options__icon-block">
                        <i class="content-promotion-options__icon-online"></i>
                    </div>
                    <div class="content-promotion-options__text">
                        <h4>Закрываем онлайн</h4>
                        <p>Пишем пресс-релизы, формируем и продвигаем комьюнити, работаем с лидерами мнений, создаем видеоконтент и многое другое.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-12 content-promotion-options__column">
                    <div class="content-promotion-options__icon-block">
                        <i class="content-promotion-options__icon-offline"></i>
                    </div>
                    <div class="content-promotion-options__text">
                        <h4>Закрываем офлайн</h4>
                        <p>OOH маркетинг - печатная реклама, наружные баннеры в нужных местах и живой интерактив, где люди могут взаимодействовать с продуктом.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>